.layout-component {
	padding: $componentSpacing 0;
}

.layout-component-short {
	padding: $componentSpacing / 2 0;
}

.layout-light {
	background-color: white;
}

.layout-dark {
	background-color: $brandBlueLight;
	color: white;
}

.layout-container {
	@extend %clearfix;
	margin: 0 auto;
	max-width: $gridMaxWidth;
	padding: 0 $gridGutterWidth;
}