.projects {
	list-style: none;
	padding: 0;

	> li {
		@include media(small) {
			display: inline-block;
			width: 75%;
		}

		@include media(medium) {
			width: 33.3333%;
		}
	}
}

.project-logo,
.project-attributes {
	@include media(medium) {
		float: left;
		width: 48%;
	}

	h3 {
		margin-top: 2em;

		&:first-child {
			margin-top: 0;
		}
	}
}

.project-attributes {
	margin-top: 1.414em;

	@include media(medium) {
		margin-left: 4%;
		margin-top: 0;
	}
}

.project-technologies {
	list-style: none;
	padding: 0;

	> li {
		display: inline-block;
		margin: 0 1em 1em 0;
	}
}

.project-metrics {
	list-style: none;
	padding: 0;

	> li {
		@include media(medium) {
			display: inline-block;
			margin-right: -0.25em;
			margin-top: 2.828em;
			padding: 0 1.414em;
			text-align: center;
			vertical-align: top;
			width: 33.3333%;
		}

		+ li {
			margin-top: 2.828em;
		}
	}

	.metric-value {
		margin: 0;
	}
}