<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow" />
	<meta name="apple-mobile-web-app-title" content="ten-four" />
	<meta name="description" content="Website and web development services in Portland, Oregon." />
	<meta name="author" content="Ten-Four Tech, LLC" />

	<meta name="og:image" content="/img/content/logo-large.png" />
	<meta name="og:image:width" content="783" />
	<meta name="og:image:height" content="201" />

	<!-- icon and tile color in hex # for Windows phones -->
	<meta name="msapplication-TileImage" content="img/content/touch-icon.png" />
	<meta name="msapplication-TileColor" content="#ffffff" />

	<link href="//fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/style.css" />

	<!-- For everything else -->
	<link rel="shortcut icon" href="img/content/touch-icon.png">
	<!-- Serve one icon for all Apple devices -->
	<link rel="apple-touch-icon-precomposed" href="img/content/touch-icon.png">
<body>
	{{ content }}
</body>
</html>